@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 2%;
    --foreground: 210 40% 98%;

    --card: 210 30% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 210 40% 2%;
    --popover-foreground: 210 40% 98%;

    --primary: 150 100% 50%;
    --primary-foreground: 150 100% 10%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 150 100% 40%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 150 100% 30%;
    --input: 150 100% 30%;
    --ring: 150 100% 50%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 210 40% 2%;
    --foreground: 210 40% 98%;

    --card: 210 30% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 210 40% 2%;
    --popover-foreground: 210 40% 98%;

    --primary: 150 100% 50%;
    --primary-foreground: 150 100% 10%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 150 100% 40%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 150 100% 30%;
    --input: 150 100% 30%;
    --ring: 150 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  .green-glow {
    box-shadow: 0 0 15px 5px hsl(var(--primary) / 0.4), 0 0 30px -5px hsl(var(--primary) / 0.6);
  }

  .green-glow-sm {
    box-shadow: 0 0 10px 2px hsl(var(--primary) / 0.3);
  }
}
